#sol-board {
    grid-template-areas: 
    'foundations stock',
    'tableau tableau';
}

#sol-tableau {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    gap: 10px;
}

.sol-column {
    display: flex;
    flex-flow: nowrap column;
    gap: 0px;

    width: 100%;
    height: 500px;
}

.sol-card {
    width: 100%;
    height: 40px;
}

.sol-card > img {
    width: 100%;
}